.movie {
  width: 22%;
  margin: 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.1);
  cursor: pointer;
}

img {
  max-width: 100%;
}

.movie-list {
  display: flex;
  padding: 0.9rem;
  justify-content: space-between;
  align-items: center;
}

.movie-list h5 {
  margin: 0;
}

.head {
  font-size: 100%;
}

.rating {
  font-size: 80%;
}
