@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #073838;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

input {
  width: 120%;
  border-radius: 10px;
}

.searchinput::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  width: 30px;
  color: rgb(175, 170, 170);
}

.searchinput.searchinput:focus {
  outline: none;
}

.home {
  display: flex;
  cursor: pointer;
}

.icon {
  size: 50;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}
